@font-face {
    font-family: 'Segoe UI';
    src: url('../Webfonts/SegoeUI.woff2') format('woff2'),
        url('../Webfonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../Webfonts/SegoeUI-Semibold.woff2') format('woff2'),
        url('../Webfonts/SegoeUI-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../Webfonts/SegoeUI-Light.woff2') format('woff2'),
        url('../Webfonts/SegoeUI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@maxSiteWidth: 1100px;

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-sizing: border-box;
}

.clearfix {
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

.centerElement {
	margin-left: auto;
	margin-right: auto;
}

.centered {
	max-width: @maxSiteWidth;
	.centerElement;
}

body {
	font-size: 16px;
	font-family: 'Segoe UI', 'Verdana',sans-serif;
	color: black;
	background-color: #ffffff;
}

header {
	background-color: rgba(71, 82, 89, 0.5);
	position: fixed;
	width: 100%;
	display: inline-block;
	z-index: 999;

	nav {
		height: 70px;
		padding-top: 24px;
		padding-bottom: 24px;
		.centered;
		.clearfix;
		h1 {
			width: 138px;
			height: 21px;
			float: left;
			background-image: url('../img/logo.png');
			background-repeat: no-repeat;
			a {
			   display: block;
			   width: 138px;
		   	   height: 21px;
		   	   text-indent: -9999px;
		   	   text-decoration: none;
			}
		}
		ul {
			margin-top: 4px;
			float: right;
			li {
				display: inline-block;
				padding-left: 20px;
				font-family: 'SegoeUI-Semibold', 'Verdana',sans-serif;
				//padding-right: 20px;
				a {
					text-decoration: none;
					text-transform: uppercase;
					color: #ffffff;
					font-weight: bold;
					&:hover {
						color: #4bcaff;
						border: 3px solid #4bcaff;
						padding-left: 23px;
						padding-right: 23px;
						margin-right: -20px;
						margin-left: -20px;
					}
				}
			}
		}
	}
}


section.masthead {
    width: 100%;
    position: relative;
    .prev {
        .clearfix;
        display: inline-block;
        position: absolute;
        z-index: 20;
        float: right;
         bottom: 320px;
        &:hover {
            cursor: pointer;
        }
    }
    .next {
        .clearfix;
        display: inline-block;
        position: absolute;
        z-index: 21;
        right: 0px;
        bottom: 320px;
        float: right;
        &:hover {
            cursor: pointer;
        }
    }
    div.slider {
        background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    opacity: 0.8;
        .clearfix;
        div.centered {
            padding-top: 230px;
            min-height: 610px;
            text-align: center;
            p.p1, .p2 {
            color: #ffffff;
    		text-transform: uppercase;
            font-family: 'SegoeUI-Light','Verdana', sans-serif;
            font-size: 40px;
             line-height: 1.4;
            display: inline-block;
            background-color: rgba(75, 85, 93, 0.8);
            margin-bottom: 15px;
            }
        }
    }
}


section.services {
    .clearfix;
	background-color: #4bcaff;
	div {
		h2 {
			padding-top: 50px;
			color: #ffffff;
    		text-transform: uppercase;
            text-align: center;
		    font-size: 30px;
		    display: inline-block;
		    position: relative;
		    padding-bottom: 10px;
            font-family: 'SegoeUI-Light', 'Verdana',sans-serif;
            &:after {
                content: '';
			    position: absolute;
			    width: 50px;
			    bottom: 0px;
			    left: 0px;
                border-bottom: 3px solid #ffffff;
            }
		}
		
		ol.featuresContainer {
			.clearfix;
			li{
				text-align: left;
				float: left;
				width: 25%;
				padding-left: 13px;
				padding-right: 13px;
				box-sizing: border-box;
				padding-bottom: 15px;
				&:nth-child(2) h3:before {
					background-image: url('../img/instant.png');
					background-size: 60px 60px;
				}
				&:nth-child(3) h3:before {
					background-image: url('../img/serious.png');
					background-size: 60px 60px;
				}
				&:nth-child(4) h3:before {
					background-image: url('../img/icon.png');
					background-size: 60px 60px;
				}
				h3 {
					text-transform: uppercase;
					color: white;
					font-size: 23px;
					padding-top: 10px;
					height: 150px;
					line-height: 5px;
					&:before{
						content: '';
						display: block;
						width: 110px;
						height: 110px;
						background-image: url('../img/coffee.png');
						background-size: 60px 60px;
						background-repeat: no-repeat;
						background-position: left;
					}
				}

				p{
					font-family: 'SegoeUI-Semibold', 'Verdana',sans-serif;
					text-align: justify;
					font-size: 14px;
					color: white;
					line-height: 23px;
					padding-bottom: 50px;
				}
			}
		} 
	}
}


section.whoIs {
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    min-height: 500px;
    background-image: url('../img/whoIs.jpg');
    .clearfix;
    div.col1 {
        margin-top: 90px;
        margin-right: 50px;
        float: left;
        display: block;
        width: 500px;
        h1 {
            color: #ffffff;
    		text-transform: uppercase;
            text-align: center;
		    font-size: 30px;
		    display: inline-block;
		    position: relative;
		    padding-bottom: 10px;
            font-family: 'SegoeUI-Light', 'Verdana',sans-serif;
            &:after {
                content: '';
			    position: absolute;
			    width: 50px;
			    bottom: 0px;
			    left: 0px;
                border-bottom: 3px solid #ffffff;
            }
        }
        p {
            padding-top: 40px;
            color: #ffffff;
            font-family: 'Segoe UI', 'Verdana',sans-serif;
            font-size: 14px;
            &:first-child {
                 padding-bottom: 30px;
            }
        }
    }
    div.col2 {
       	margin-top: 170px;
        float: right;
        display: block;
        width: 500px;
        p {
            padding-bottom: 40px;
            color: #ffffff;
            font-family: 'Segoe UI', 'Verdana',sans-serif;
            font-size: 14px;
        }
        img {
            width: 320px;
            height: 60px;
        }
    }
}




section.testimonials {
	background-color: #ffffff;
	background-size: cover;
	padding-top: 0px;
	//.centered ;
		div.comments {
		min-height: 120px;
		text-align: center;
		color: #374045;
		
			div.headline {
				float: left;
				width: 100px;
				h2 {
					float: left;
					display: block;
					padding-top: 40px;
					font-family: 'SegoeUI-Light','Verdana', sans-serif;		
					padding-top: 50px;
		    		text-transform: uppercase;
		            text-align: center;
				    font-size: 30px;
				    position: relative;
				    padding-bottom: 10px;
		            &:after {
		                content: '';
					    position: absolute;
					    width: 50px;
					    bottom: 0px;
					    left: 0px;
		                border-bottom: 3px solid ;
		            }			
				}
				.centered;
				.clearfix;
			}
			div {
				img {
					display: inline-block;
					margin-top: 50px;
					width: 40px;
					height: 40px;
					float: right;
				}
				.centered;
				.clearfix;
			}
			em {
				display: block;
				padding-top: 60px;
				padding-bottom: 60px;
				padding-right: 70px;
				text-align: left;
				line-height: 2;
				font-size: 20px;
			}
			h5 {
                font-family: 'SegoeUI-Semibold','Verdana', sans-serif;
                color: #4bcaff;
                margin-bottom: 60px;
                float: left;
            }
			 
		}
		.centered;
		.clearfix;
	}

footer {
	background-color: rgba(53, 63, 71, 0.5);
	width: 100%;
	nav {
		height: 70px;
		padding-top: 24px;
		padding-bottom: 24px;
	
		.centered;
		
		ul {
			margin-top: 4px;
			float: left;
			font-size: 13px;
			li {
				display: inline-block;
				//padding-left: 20px;
				//padding-right: 20px;
				a {
					text-decoration: none;
					color: #374045;
					//text-transform: uppercase;
					font-weight: bold;
					&:hover {
						color: #000000;
						font-weight: bolder;
					}
				}
			}
		}
	}
	 span {
        float: right;
        color: #374045;
    }
}


