*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color: white;
}

@navColor: gray;
@navHeight: 40px; 

nav {
    background-color: @navColor;
    text-align: center;
    font-family: Arial;
    ul li {
        display: inline-block;
        position: relative;
        font-weight: bold;
        height: navHeight;
        &:hover ul {
            display: block;
            width: 100px;
            background-color: gray;
            box-shadow: 5px 5px 10px white;
            color: white;
        }
        ul {
            display: none;
            position: absolute;
            left: 0px;
            top: 38px;
            width: 200px;
            color:white;
            li {
                display: block;
                position: relative;
            }
        }
        a {
            color: black;
            text-decoration: none;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            height: navHeight;
            line-height: 40px;
            color: white;
            &:hover {
                background-color: #b3b3b3;
            }
        }
    }
}

body {
    background-color: black;
    color: white;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
}

div {
    
    max-width: 1000px;
    .center-element;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
    div.leftCol {
        width: 32%;
        float: left;
        box-sizing: border-box;
        padding-right: 10px;
        img {
            width: 100%;
        }
    }
     div.centerCol {
        width: 33%;
        float: left;
        h2 {
            text-align: center;
        }
    }
    div.rightCol {
        width: 32%;
        float: left;
        margin-top: 27px;
    }
}   

footer {
    background-color: #333333;
    text-align: center;
    width: 100%;
    bottom: 0px;
    position: fixed;
    font-weight: bold;
    font-family: Arial;
    ol {
       list-style: none;
       li {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            margin-bottom: 10px;
        }
    }
   
}

@media screen and (max-width: 640px) {
    nav ul li {
        display: block;
    }
    div div.leftCol, div div.centerCol, div div.rightCol {
        float: none;
        width: 100%;
    }
    footer {
        background-color: #a6a6a6
    }
}

