* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
  width: 1000px;
  margin: 0px auto;
}

.clear {
    clear: both;
}

header {
    background-color: white;
    border: 1px solid gray;
}

header img {
    width: 130px;
    
    float: left;
}

header form {
    float: right;
    margin-top: 15px;
}

header ol {
    float: left;
    list-style: none;
    width: 700px;
}

header ol li {
    display: inline-block;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

input {
    float: right;
}

h1 {
    margin: 0px;
}

body {
    margin: 0px;
}

.content {
    
    background-color: black;
    border: 1px solid gray;
   
}


.leftColumn {
    background-color: pink;
    float: left;
    text-align: justify;
    width: 33%;
    height: 300px;
}

.centerColumn {
    color: white;
    width: 34%;
    float: left;
    height: 300px;
}

.rightColumn {
    /*background-image: url(../images/eye.jpg);*/
   
    float: left;
    width: 33%;
    height: 300px;
}

.rightColumn img {
    max-width: 100%;
    height: 300px;
        
}

.leftColumn img {
    max-width: 100%;
    height: 300px;
}

.centerColumn img {
    max-width: 100%;
    height: 270px;
    margin-top: 30px;
}

footer {
    background-color: gray;
    text-align: center;
}

footer ol {
    list-style: none;
}
footer ol li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}