body, html{
	height: 100%;
}

body {
	background-image: url(../img/bird.jpg);
	background-attachment: fixed;
	background-position: left center;
	background-repeat: repeat;
	background-color: #99ff99;
}

.tr1 {
	background-image: url(../img/bee.jpg);
	background-position: center center;
}

.tr2_1 {
	background-color: #ff6666;
}

.tr3_1 {
	background-color: #33ccff;
}

.tr3_2 {
	background-color: #ffff4d;
}