* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
  width: 1000px;
  margin: 0px auto;
}

.clear {
    clear: both;
}

header {
    background-color: white;
    border: 1px solid gray;
}

header img {
    width: 130px;
    float: left;
}

header form {
    float: right;
    margin-top: 15px;
}

header ol {
    float: left;
    list-style: none;
    width: 700px;
}

header ol li {
    display: inline-block;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

input {
    float: right;
}

h1 {
    margin: 0px;
}

body {
    margin: 0px;
}

.content {
    
    background-color: pink;
    border: 1px solid gray;

   
}



div.container {
    max-width: 1000px;
    position: relative;
    display:;
}
div.box {
    border: 1px solid black;
    position: static;
    left: 60px;
    top: 50px;
    background-color: skyblue;
    height: 200px;
}

.FirstElem {
    width: 130px;
    height: 130px;
    background-color: #9999ff;
    position: absolute;
    top: 10px;
    left: 240px;
    z-index: 1;
}

.FirstElem:hover {
    background-color: #8533ff;
    z-index: 4;
}

.SecondElem {
    width: 130px;
    height: 130px;
    background-color: #ffb399;
    position: absolute;
    top: 30px;
    left: 270px;
    z-index: 2;
}

.SecondElem:hover {
    background-color: #ff6666;
    z-index: 4;
}

.ThirdElem {
    width: 130px;
    height: 130px;
    background-color: #e6ff99;
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: 3;
}

.ThirdElem:hover {
    background-color: #ccff33;
    z-index: 4;
}

footer {
    background-color: gray;
    text-align: center;
}

footer ol {
    list-style: none;
}
footer ol li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

div.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    background-color: rgba(102, 255, 255, 0.4)

}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

div.modal {
    width: 600px;
    height: 400px;
    position: fixed;
    z-index: 201;
    background-color: white;
    left: 50vw;
    margin-left: -320px;
    top: 50%;
    margin-top: -200px;
    padding: 15px 20px;
    box-sizing: border-box;
    box-shadow: 10px 15px 25px #003333;
    overflow: auto;

}

.close {
    
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #d9d9d9;
    color: black;
    height: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.close:hover {
    background-color: gray;
    color: white;
}