* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
  width: 1000px;
  margin: 0px auto;
}

.clear {
    clear: both;
}

header {
    background-color: white;
    border: 1px solid gray;
}

header img {
    width: 130px;
    float: left;
}

header form {
    float: right;
    margin-top: 15px;
}

header ol {
    float: left;
    list-style: none;
    width: 700px;
}

header ol li {
    display: inline-block;
    padding-left: 80px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 0px;
}

input {
    float: right;
}

h1 {
    margin: 0px;
}

body {
    margin: 0px;
}

.content {
    
    background-color: pink;
    border: 1px solid gray;

   
}



div.container {
    max-width: 1000px;
    position: relative;
    display:;
}
div.box {
    border: 1px solid black;
    position: static;
    left: 60px;
    top: 50px;
    background-color: skyblue;
    height: 200px;
}

.FirstElem {
    width: 130px;
    height: 130px;
    background-color: #9999ff;
    position: absolute;
    top: 10px;
    left: 240px;
    z-index: 1;
}

.FirstElem:hover {
    background-color: #8533ff;
    z-index: 4;
}

.SecondElem {
    width: 130px;
    height: 130px;
    background-color: #ffb399;
    position: absolute;
    top: 30px;
    left: 270px;
    z-index: 2;
}

.SecondElem:hover {
    background-color: #ff6666;
    z-index: 4;
}

.ThirdElem {
    width: 130px;
    height: 130px;
    background-color: #e6ff99;
    position: absolute;
    top: 50px;
    left: 300px;
    z-index: 3;
}

.ThirdElem:hover {
    background-color: #ccff33;
    z-index: 4;
}

.Button {
    right: 0px;
    bottom:0px;
    width: 100px;
    height: 100px;
    background-color: pink;
    color: black;
    position: fixed;
    border-radius: 50%;
    z-index: 200;
    display: block;
    text-decoration: none;
    line-height: 100px;
    text-align: center;
    border: 1px solid gray;
}



footer {
    background-color: gray;
    text-align: center;
}

footer ol {
    list-style: none;
}
footer ol li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}